/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url(https://github.com/Hiiom/bierman.se/blob/main/IMG_8247.JPG);
    background-size: cover;        /* Täcker hela skärmen */
    background-position: center;   /* Centrerar bilden */
    background-repeat: no-repeat;  /* Ingen upprepning */
    background-attachment: fixed;  /* Sitter fast vid scroll */
    
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 12px;
}

button {
    background-color: #555; /* Mörkgrå bakgrund för knappen */
    border: none;
    color: #fff; /* Vit text */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #666; /* Ljusare grå vid hovring */
}

#status {
    font-weight: bold;
    margin-top: 10px;
}

.status-on {
    color: #0f0; /* Grön text när aktiv */
}

.status-off {
    color: #f00; /* Röd text när inaktiv */
}

